

body {
    background-color: rgba(161, 166, 167, 0.219);
}

.titulo {
    text-align: center;
    color: darkgrey;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 1em;


}



.t2 {
    font-size: larger;
    font-weight: bolder;
    /*background-color: rgba(255, 255, 255, 0.363);*/
    background-image: url(20220709_234736-removebg-preview.png);
    background-size: cover;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    position: relative;
    margin-top: 0px;
    margin-left: 60px;
    /*transform: translateY(-10px);*/
    text-align: center;
    z-index: 10;
}


.header {
    position: relative;
       
}

.fondo {
    /*background-color: rgb(37, 35, 58, .1);*/
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 0;
}

.banner {
    position:relative;
    z-index: 100000;
}

.seccionExperiencia {
    /*margin-top: 20px;
    margin-bottom: 1px;*/
    padding: 10px;
    padding-bottom: 0px;
    border: solid 2px rgb(128, 124, 124);
    border-radius: 5px;
    width: 95%;
    margin: 20px auto;
    overflow: hidden; /*esto hace que el div contenedor incluya el que esta adentro y que queda afuera al usar float*/
}

.contenedorCards {
    width: 90%;
    margin: 0 auto;
    
}

.item1 {
   float: left;
}

.item2 {

    margin: 0 auto;
    
}

.item3 {
    float:right;
    
    
}

.encabezadoex {
    text-align: right;
    margin-bottom: 30px;
    margin-top: 25px;
}

.lineasubrayado {
    border: solid 2px rgba(184, 151, 245, 0.5);
    width: 100px;
    height: 2px;
    float: right;
    margin-bottom: 30px;
}