<section *ngIf="!editando" style=" overflow-y: scroll; scrollbar-width: none; height: 85vh; width: 80%; margin: auto;" class="banner">     
    <div class="contenedorCards">
      <div class="encabezadoex m-4"><h2>Experiencia</h2>
      </div>


      <div class="row g-0 d-flex justify-content-evenly" >


       <div *ngFor = "let item of dataExperiencia" class="card mb-5  col-md-5 m-1 rounded-2">
          <div class="">
            <img [src] = "item.url_foto_empresa" class="img-fluid rounded-start" alt="...">
          </div>
          <i class="fa fa-pencil position-absolute top-0 end-0 m-3" style="font-size: 1.5rem; cursor: pointer;" (click)="openEditForm(item.id)" aria-hidden="true"></i>
          <div class="">
            <div class="card-body">
              <h5 class="card-title">{{ item.empresa }} </h5>
              <p class="card-text">{{ item.descripcion }} </p>
              <p class="card-text"><small class="text-muted">Fui parte desde {{ item.fecha_inicio }} hasta {{ item.fecha_final }}</small></p>
            </div>
          </div>
       </div>
          
       </div>    


      
    </div>
</section>

<form  *ngIf="editando" (submit)="guardarExperiencia()" class="card card mb-5 mt-5 rounded-1 col-sm-8 col-md-8" style="overflow-y: scroll; scrollbar-width: none; height: 70vh; width: 80%; margin: auto; max-width: 640px; background-color: rgba(244, 234, 234, 0.621);">
  <div class="card-body">
    <div class="form-group">
      <label for="empresa">Empresa</label>
      <input type="text" [(ngModel)]="dataExperiencia[itemAModificar - 1].empresa" name="empresa" id="empresa" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="descripcion">Descripcion</label>
      <input type="text" [(ngModel)]="dataExperiencia[itemAModificar- 1].descripcion" name="descripcion" id="descripcion" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="url_foto_empresa">Url del Logo de la Empresa</label>
      <input type="text" [(ngModel)]="dataExperiencia[itemAModificar - 1].url_foto_empresa" name="url_foto_empresa" id="url_foto_empresa" class="form-control">
    </div>
    <div class="form-group">
      <label for="fecha_inicio">Fecha Comienzo</label>
      <textarea [(ngModel)]="dataExperiencia[itemAModificar - 1].fecha_inicio" name="fecha_inicio" id="fecha_inicio" class="form-control" rows="5"></textarea>
    </div>
    <div class="form-group">
      <label for="fecha_final">Fecha de Finalizacion</label>
      <textarea [(ngModel)]="dataExperiencia[itemAModificar - 1].fecha_final" name="fecha_final" id="fecha_final" class="form-control" rows="5"></textarea>
    </div>

   

    <button type="submit" class="btn btn-primary my-2 ">Guardar</button>
    <button type="button" (click)="cancelEdition()" class="btn btn-secondary mx-2">Cancelar</button>
  </div>
</form>