<section style=" overflow-y: scroll; scrollbar-width: none; height: 85vh; width: 80%; margin: auto;" class="banner">     
    <div class="contenedorCards">
      <div class="encabezadoex m-4"><h2>Experiencia</h2>
      </div>


      <div class="row g-0 d-flex justify-content-evenly" >


       <div *ngFor = "let item of dataExperiencia" class="card mb-5  col-md-5 m-1 rounded-2">
          <div class="">
            <img [src] = "item.url_foto_empresa" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="">
            <div class="card-body">
              <h5 class="card-title">{{ item.empresa }} </h5>
              <p class="card-text">{{ item.descripcion }} </p>
              <p class="card-text"><small class="text-muted">Fui parte desde {{ item.fecha_inicio }} hasta {{ item.fecha_final }}</small></p>
            </div>
          </div>
       </div>
          
       </div>    


      
    </div>
</section>