 <section class="container d-flex justify-content-between" style = " overflow-y: scroll; scrollbar-width: none; height: 85vh; width: 80%; margin: auto;" class="banner">  
   <div  >
     <div class="encabezadoex m-4"><h2 class="mb-5">Hard & Soft Skills</h2>
   </div>

    <div *ngFor = "let item of dataSkill" class="d-inline-block">
    <circle-progress
      [percent]="item.porcentaje"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="item.color_outer"
      [innerStrokeColor]="item.color_inner"
      [animation]="true"
      [animationDuration]="3000"
      [showTitle]="true"  
      [titleColor]="'#FFFFFF'" 
      [showUnits]="true"
      [unitsColor]="'#FFFFFF'"
      [unitsFontSize]="'20'"
      [showSubtitle]="true"
      [subtitle]= "item.subtitulo"
      [subtitleFontSize]="'23'"
      [startFromZero]="true"
      >
    </circle-progress>

    </div>
   </div>

</section>