 <section *ngIf="!editando && !agregando" class="container d-flex justify-content-between" style = " overflow-y: scroll; scrollbar-width: none; height: 85vh; width: 85%; margin: auto;" class="banner">  
   <div  >
     <div class="encabezadoex m-4 d-flex flex-row">
      <h2 class="mb-5">Hard & Soft Skills</h2>
      <i class="fa fa-circle-plus mx-3 pt-1" style="font-size: 1.5rem; cursor: pointer;" (click)="openNewForm()"></i>
   </div>

    <div *ngFor = "let item of dataSkill" class="d-inline-block">
    <div class="border border-danger m-2 " >
     
     
      <!-- [percent]="item.porcentaje" -->
    
    
    <circle-progress
      [percent]="item.porcentaje"
      [radius]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="item.color_outer"
      [innerStrokeColor]="item.color_inner"
      [animation]="true"
      [animationDuration]="3000"
      [showTitle]="true"  
      [titleColor]="'#FFFFFF'" 
      [showUnits]="true"
      [unitsColor]="'#FFFFFF'"
      [unitsFontSize]="'20'"
      [showSubtitle]="true"
      [subtitle]= "item.subtitulo"
      [subtitleFontSize]="'23'"
      [startFromZero]="true"
      >
    </circle-progress>
    <span class=" top-0 end-0 m-2">
      <i class="fa fa-pencil" style="font-size: 1.5rem; cursor: pointer;" (click)="openEditForm(item)" aria-hidden="true"></i>
    </span>
    <span class="top-100 end-100 ">
     <i class="fa fa-circle-minus top-0 start-100 m-2 d-inline-block" style="color: red; font-size: 1.5rem; cursor: pointer;" (click)="deleteSkill(item)"></i>
    </span>
    </div>
    </div>
   </div>

</section>

<form  *ngIf="editando" (submit)="guardarSkill()" class="card card mb-5 mt-5 rounded-1 col-sm-8 col-md-8" style="overflow-y: scroll; scrollbar-width: none; height: 70vh; width: 80%; margin: auto; max-width: 640px; background-color: rgba(244, 234, 234, 0.621);">
  <div class="card-body">
    <div class="form-group">
      <label for="Skill">Skill</label>
      <input type="text" [(ngModel)]="itemAModificar.subtitulo" name="Skill" id="Skill" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="porcentaje">Porcentaje</label>
      <input type="number" [(ngModel)]="itemAModificar.porcentaje" name="porcentaje" id="porcentaje" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="color_inner">Color Interior</label>
      <input type="text" [(ngModel)]="itemAModificar.color_inner" name="color_inner" id="color_inner" class="form-control">
    </div>
    <div class="form-group">
      <label for="color_outer">Color Exterior</label>
      <input type="text" [(ngModel)]="itemAModificar.color_outer" name="color_outer" id="color_outer" class="form-control" required>
    </div>
    

    <button type="submit" class="btn btn-primary my-2 ">Guardar</button>
    <button type="button" (click)="cancelEdition()" class="btn btn-secondary mx-2">Cancelar</button>
  </div>
</form>

<form  #formulario="ngForm" *ngIf="agregando" (submit)="agregarSkill()" class="card card mb-5 mt-5 rounded-1 col-sm-8 col-md-8" style="overflow-y: scroll; scrollbar-width: none; height: 70vh; width: 80%; margin: auto; max-width: 640px; background-color: rgba(244, 234, 234, 0.621);">
  <div class="card-body">
    <div class="form-group">
      <label for="Skill">Skill</label>
      <input type="text" [(ngModel)]="skillNueva.subtitulo" name="Skill" id="Skill" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="porcentaje">Porcentaje</label>
      <input type="number" [(ngModel)]="skillNueva.porcentaje" name="porcentaje" id="porcentaje" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="color_inner">Color Interior</label>
      <input type="text" [(ngModel)]="skillNueva.color_inner" name="color_inner" id="color_inner" class="form-control">
    </div>
    <div class="form-group">
      <label for="color_outer">Color Exterior</label>
      <input type="text" [(ngModel)]="skillNueva.color_outer" name="color_outer" id="color_outer" class="form-control" required>
    </div>
    

    <button type="submit" class="btn btn-primary my-2 ">Guardar</button>
    <button type="button" (click)="cancelNew()" class="btn btn-secondary mx-2">Cancelar</button>
  </div>
</form>