 <section style = " overflow-y: scroll; scrollbar-width: none; height: 85vh; width: 80%; margin: auto;" class="banner">  
   <div class="contenedorCards" >
     <div class="encabezadoex m-4"><h2 class="mb-5">Hard & Soft Skills</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="progress blue">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">90%</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="progress violet">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">Comunicación 75%</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="progress yellow">
                  <span class="progress-left">
                      <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                      <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">50%</div>
              </div>
          </div>
        </div>
      
        <div class="row mt-5">
            <div class="col-md-4 col-sm-6">
                <div class="progress blue">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">90%</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="progress pink">
                    <span class="progress-left">
                        <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                        <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">Comunicación 75%</div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="progress blue">
                  <span class="progress-left">
                      <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                      <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">50%</div>
              </div>
            </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-4 col-sm-6">
              <div class="progress green">
                  <span class="progress-left">
                      <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                      <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">90%</div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <div class="progress violet">
                  <span class="progress-left">
                      <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                      <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">Comunicación 75%</div>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">50%</div>
            </div>
          </div>
      </div>
  
    </div>

  </div>

</section>