
      <section class = "d-flex justify-content-center" >
        <div  class = "card mb-5 mt-5 rounded-1 col-sm-8 col-md-8" style="max-width: 640px; background-color: rgba(105, 105, 105, 0.442);">
          <div class = "row g-0"> 
            <div class = "col-sm-4 col-md-4 mt-0 mb-0">
              <img [src] = "dataUser[0].url_foto" class="img-fluid rounded-start" alt="...">
            </div>
            <div class = "col-sm-6 col-md-6">
              <div class = "card-body">
                <h5 class = "card-title">{{ dataUser[0].nombre }} {{dataUser[0].apellido}}</h5>
                <p class = "card-text">{{ dataUser[0].sobre_mi }}</p>
              </div>
            </div>
          </div>
        </div>

      </section>