<header class="header">
        
       
    <ul class="slideshow">
        <li>
          <span></span>
        </li>
        <li>
          <span></span>
        </li>
        <li>
          <span></span>
        </li>
        <li>
          <span></span>
        </li>
        <li>
          <span></span>
        </li>
    </ul>
    
     
    <nav class="navbar bg-transparent">
            <div class="container-fluid d-flex" >

             
              <div class="d-flex justify-content-center mr-auto align-items-center">
                <app-menu-desplegable> </app-menu-desplegable>
              
                 <a href="#" >
                  <img  src="./assets/APLogo-20-20.png" alt="Logo argentina programa" width="150"  height="auto">
                 </a>
                </div>


              

              <div class="ml-auto">
                <a href="#"><img src="./assets/whatsapp.png" alt="Whattsapp" width="30" class="mx-2"></a>
                <a href="#"><img src="./assets/gorjeo.png" alt="gorjeo" width="30" class="mx-2"></a>
                <a href="#"><img src="./assets/instagram.png" alt="instagram" width="30" class="mx-2"></a>
                <a href="#"><img src="./assets/linkedin.png" alt="linkedin" width="30" class="mx-2"></a>
                <button type="button" class=" btn btn-dark ">Ingresar</button>
              </div>
            
            </div>
    </nav>  

    <app-banner> </app-banner>

   
  </header>