<div *ngIf="!editando && !agregando" style=" overflow-y: scroll; scrollbar-width: none; height: 85vh; width: 80%; margin: auto;" class="banner">

    <div class="contenedorCards " >
     <div class="encabezadoex m-4 d-flex flex-row ">
       <h2>Educación</h2>
       <i *ngIf="isLoggedG" class="fa fa-circle-plus mx-3 pt-1" style="font-size: 1.5rem; cursor: pointer;" (click)="openNewForm()"></i>
     </div>
    <div class="container" *ngFor = "let item of dataEducacion">
     <div class="card text-center m-4" style="max-width:1000px">
      <div class="card-header">
       {{ item.institucion}}
      </div>
      <i  *ngIf="isLoggedG" class="fa fa-pencil position-absolute top-0 end-0 m-2 d-inline-block " style="font-size: 1.5rem; cursor: pointer;" (click)="openEditForm(item)" aria-hidden="true"></i>
      <i *ngIf="isLoggedG"  class="fa fa-circle-minus position-absolute top-0 start-100 m-2 d-inline-block" style="color: red; font-size: 1.5rem; cursor: pointer;" (click)="deleteEducacion(item)"></i>
       <div class="card-body">
         <h5 class="card-title">{{ item.titulo}}</h5>
         <p class="card-text">Curse la carrera desde {{ item.fecha_inicio | date: 'dd-MM-yyy' }} hasta {{ item.fecha_final | date: 'dd-MM-yyy' }}.</p>
         <a href="#" class="btn btn-primary">Ver Certificado</a>
       </div>
      <div class="card-footer text-muted">
        {{ item.descripcion }}.
      </div>
    </div>

   

  

    </div>

</div>

</div>

<form  *ngIf="editando" (submit)="guardarEducacion()" class="card card mb-5 mt-5 rounded-1 col-sm-8 col-md-8" style="overflow-y: scroll; scrollbar-width: none; height: 70vh; width: 80%; margin: auto; max-width: 640px; background-color: rgba(244, 234, 234, 0.621);">
  <div class="card-body">
    <div class="form-group">
      <label for="institucion">Institucion</label>
      <input type="text" maxlength="100" [(ngModel)]="itemAModificar.institucion" name="institucion" id="institucion" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="titulo">Titulo</label>
      <input type="text" maxlength="100" [(ngModel)]="itemAModificar.titulo" name="titulo" id="titulo" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="fecha_inicio">Fecha de inicio</label>
      <input type="date" [(ngModel)]="itemAModificar.fecha_inicio" name="fecha_inicio" id="fecha_inicio" class="form-control">
    </div>
    <div class="form-gr  oup">
      <label for="fecha_final">Fecha de Finalizacion</label>
      <input type="date" [(ngModel)]="itemAModificar.fecha_final" name="fecha_final" id="fecha_final" class="form-control" rows="5" required>
    </div>
    <div class="form-group">
      <label for="url_titulo">Url del Titulo</label>
      <input type="text" maxlength="300" [(ngModel)]="itemAModificar.url_titulo" name="url_titulo" id="url_titulo" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="descripcion">Descripcion</label>
      <textarea maxlength="300" rows="3" cols="30" [(ngModel)]="itemAModificar.descripcion" name="descripcion" id="descripcion" class="form-control" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary my-2 ">Guardar</button>
    <button type="button" (click)="cancelEdition()" class="btn btn-secondary mx-2">Cancelar</button>
  </div>
</form>


<form  #formulario="ngForm" *ngIf="agregando" (submit)="agregarEducacion()" class="card card mb-5 mt-5 rounded-1 col-sm-8 col-md-8" style="overflow-y: scroll; scrollbar-width: none; height: 70vh; width: 80%; margin: auto; max-width: 640px; background-color: rgba(244, 234, 234, 0.621);">
  <div class="card-body">
    <div class="form-group">
      <label for="institucion">Institucion</label>
      <input type="text" [(ngModel)]="educacionNueva.institucion" name="institucion" id="institucion" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="titulo">Titulo</label>
      <input type="text" [(ngModel)]="educacionNueva.titulo" name="titulo" id="titulo" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="fecha_inicio">Fecha de inicio</label>
      <input type="date" [(ngModel)]="educacionNueva.fecha_inicio" name="fecha_inicio" id="fecha_inicio" class="form-control">
    </div>
    <div class="form-group">
      <label for="fecha_final">Fecha de Finalizacion</label>
      <input type="date" [(ngModel)]="educacionNueva.fecha_final" name="fecha_final" id="fecha_final" class="form-control" rows="5" required>
    </div>
    <div class="form-group">
      <label for="url_titulo">Url del Titulo</label>
      <input type="text" [(ngModel)]="educacionNueva.url_titulo" name="url_titulo" id="url_titulo" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="descripcion">Descripcion</label>
      <textarea maxlength="300" rows="3" cols="30" [(ngModel)]="educacionNueva.descripcion" name="descripcion" id="descripcion" class="form-control" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary my-2 ">Guardar</button>
    <button type="button" (click)="cancelNew()" class="btn btn-secondary mx-2">Cancelar</button>
  </div>
</form>




