<div style=" overflow-y: scroll; scrollbar-width: none; height: 85vh; width: 80%; margin: auto;" class="banner">

    <div class="contenedorCards ">
      <div class="encabezadoex m-4"><h2>Educación</h2>
    </div>
  <div class="container">
    <div class="card text-center m-4" style="max-width:1000px">
      <div class="card-header">
        Destacado
      </div>
      <div class="card-body">
        <h5 class="card-title">Tratamiento especial del título</h5>
        <p class="card-text">Con texto de apoyo a continuación como introducción natural a contenido adicional.</p>
        <a href="#" class="btn btn-primary">Ir a algún lugar</a>
      </div>
      <div class="card-footer text-muted">
        Hace 2 días
      </div>
    </div>

    <div class="card text-center m-4" style="max-width:1000px">
      <div class="card-header">
        Destacado
      </div>
      <div class="card-body">
        <h5 class="card-title">Tratamiento especial del título</h5>
        <p class="card-text">Con texto de apoyo a continuación como introducción natural a contenido adicional.</p>
        <a href="#" class="btn btn-primary">Ir a algún lugar</a>
      </div>
      <div class="card-footer text-muted">
        Hace 2 días
      </div>
    </div>

    <div class="card text-center m-4" style="max-width:1000px">
      <div class="card-header">
        Destacado
      </div>
      <div class="card-body">
        <h5 class="card-title">Tratamiento especial del título</h5>
        <p class="card-text">Con texto de apoyo a continuación como introducción natural a contenido adicional.</p>
        <a href="#" class="btn btn-primary">Ir a algún lugar</a>
      </div>
      <div class="card-footer text-muted">
        Hace 2 días
      </div>
    </div>
  </div>

</div>